Zsrnpr/ZsrnprWeb/ZsrnprAction/Templete/Default/Page/asp_head_content.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
		targetNamespace='http://schemas.microsoft.com/AspNet/WebControlsInHead'
		xmlns:xsd='http://www.w3.org/2001/XMLSchema'
		xmlns='http://schemas.microsoft.com/AspNet/WebControlsInHead'
		xmlns:vs='http://schemas.microsoft.com/Visual-Studio-Intellisense'
		vs:friendlyname='Web Forms Controls inside head tag'
		vs:isaspschema='true'
		vs:ishtmlschema='false'
		vs:isserverschema='true'
		vs:generatedcontrolsschema='true'
		vs:nonbrowseable='true'
		vs:defaultns='asp'>

<!-- TOP LEVEL ELEMENTS -->
<xsd:element name="Content" type="System.Web.UI.WebControls.ContentDef" />
<xsd:element name="ContentPlaceHolder" type="System.Web.UI.WebControls.ContentPlaceHolderDef" />
<xsd:element name="Literal" type="System.Web.UI.WebControls.LiteralDef" />
<xsd:element name="Localize" type="System.Web.UI.WebControls.LocalizeDef" />


<!-- TOP LEVEL TYPES -->

<!-- Definition for System.ComponentModel.TypeConverter -->
<xsd:complexType name="System.ComponentModel.TypeConverterDef" vs:qualifiedtypename="System.ComponentModel.TypeConverter, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" vs:qualifiedbasetypename="System.Object, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" vs:noambientcontentmodel="true" vs:parsechildren="true" vs:excludefromcollections="true">
</xsd:complexType>

<!-- Definition for System.Drawing.ColorConverter -->
<xsd:complexType name="System.Drawing.ColorConverterDef" vs:qualifiedtypename="System.Drawing.ColorConverter, System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" vs:qualifiedbasetypename="System.ComponentModel.TypeConverter, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" vs:noambientcontentmodel="true" vs:parsechildren="true" vs:excludefromcollections="true">
</xsd:complexType>

<!-- Definition for System.Object -->
<xsd:complexType name="System.ObjectDef" vs:qualifiedtypename="System.Object, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" vs:noambientcontentmodel="true" vs:parsechildren="true" vs:excludefromcollections="true">
</xsd:complexType>

<!-- Definition for System.Web.UI.Control -->
<xsd:complexType name="System.Web.UI.ControlDef" vs:qualifiedtypename="System.Web.UI.Control, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" vs:qualifiedbasetypename="System.Object, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" vs:noambientcontentmodel="true" vs:excludefromcollections="true">
	<xsd:attributeGroup ref="System.Web.UI.ControlAttributeGroupDef" />
</xsd:complexType>

<!-- Definition for System.Web.UI.WebControls.Content -->
<xsd:complexType name="System.Web.UI.WebControls.ContentDef" vs:qualifiedtypename="System.Web.UI.WebControls.Content, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" vs:qualifiedbasetypename="System.Web.UI.Control, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" vs:childrenderivedfrom="System.Web.UI.Control, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" mixed="true">
	<xsd:attribute name="runat" type="Microsoft.VisualStudio.Web.WebControlSchemaGenerator.runatDef" use="required" vs:nonfilterable="true" />
	<xsd:attributeGroup ref="System.Web.UI.WebControls.ContentAttributeGroupDef" />
</xsd:complexType>

<!-- Definition for System.Web.UI.WebControls.ContentPlaceHolder -->
<xsd:complexType name="System.Web.UI.WebControls.ContentPlaceHolderDef" vs:qualifiedtypename="System.Web.UI.WebControls.ContentPlaceHolder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" vs:qualifiedbasetypename="System.Web.UI.Control, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" vs:childrenderivedfrom="System.Web.UI.Control, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" mixed="true">
	<xsd:attribute name="runat" type="Microsoft.VisualStudio.Web.WebControlSchemaGenerator.runatDef" use="required" vs:nonfilterable="true" />
	<xsd:attributeGroup ref="System.Web.UI.ControlAttributeGroupDef" />
</xsd:complexType>

<!-- Definition for System.Web.UI.WebControls.FontUnitConverter -->
<xsd:complexType name="System.Web.UI.WebControls.FontUnitConverterDef" vs:qualifiedtypename="System.Web.UI.WebControls.FontUnitConverter, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" vs:qualifiedbasetypename="System.ComponentModel.TypeConverter, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" vs:noambientcontentmodel="true" vs:parsechildren="true">
</xsd:complexType>

<!-- Definition for System.Web.UI.WebControls.Literal -->
<xsd:complexType name="System.Web.UI.WebControls.LiteralDef" vs:qualifiedtypename="System.Web.UI.WebControls.Literal, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" vs:qualifiedbasetypename="System.Web.UI.Control, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" vs:childrenderivedfrom="System.Web.UI.Control, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" mixed="true" vs:overrideaddparsedsubobject="true">
	<xsd:attribute name="runat" type="Microsoft.VisualStudio.Web.WebControlSchemaGenerator.runatDef" use="required" vs:nonfilterable="true" />
	<xsd:attributeGroup ref="System.Web.UI.WebControls.LiteralAttributeGroupDef" />
</xsd:complexType>

<!-- Definition for System.Web.UI.WebControls.Localize -->
<xsd:complexType name="System.Web.UI.WebControls.LocalizeDef" vs:qualifiedtypename="System.Web.UI.WebControls.Localize, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" vs:qualifiedbasetypename="System.Web.UI.WebControls.Literal, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" vs:childrenderivedfrom="System.Web.UI.Control, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" mixed="true" vs:overrideaddparsedsubobject="true">
	<xsd:attribute name="runat" type="Microsoft.VisualStudio.Web.WebControlSchemaGenerator.runatDef" use="required" vs:nonfilterable="true" />
	<xsd:attributeGroup ref="System.Web.UI.WebControls.LiteralAttributeGroupDef" />
</xsd:complexType>

<!-- Definition for System.Web.UI.WebControls.WebColorConverter -->
<xsd:complexType name="System.Web.UI.WebControls.WebColorConverterDef" vs:qualifiedtypename="System.Web.UI.WebControls.WebColorConverter, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" vs:qualifiedbasetypename="System.Drawing.ColorConverter, System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" vs:noambientcontentmodel="true" vs:parsechildren="true">
</xsd:complexType>

<!-- Definition for System.Web.UI.WebControls.WebControl -->
<xsd:complexType name="System.Web.UI.WebControls.WebControlDef" vs:qualifiedtypename="System.Web.UI.WebControls.WebControl, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" vs:qualifiedbasetypename="System.Web.UI.Control, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" vs:noambientcontentmodel="true" vs:parsechildren="true" vs:excludefromcollections="true">
	<xsd:attribute name="runat" type="Microsoft.VisualStudio.Web.WebControlSchemaGenerator.runatDef" vs:nonfilterable="true" />
	<xsd:attributeGroup ref="System.Web.UI.WebControls.WebControlAttributeGroupDef" />
</xsd:complexType>

<!-- TOP LEVEL ATTRIBUTE GROUPS -->

<xsd:attributeGroup name="System.Web.UI.WebControls.ContentAttributeGroupDef">
	<!-- Attributes -->
	<xsd:attribute name="ClientIDMode" type="System.Web.UI.ClientIDModeDef" vs:category="Behavior" default="Inherit" />
	<xsd:attribute name="ContentPlaceHolderID" type="xsd:string" vs:category="Behavior" use="required" default="" />
	<xsd:attribute name="EnableTheming" type="xsd:boolean" vs:nonbrowseable="true" vs:category="Behavior" default="True" />
	<xsd:attribute name="EnableViewState" type="xsd:boolean" vs:category="Behavior" default="True" />
	<xsd:attribute name="ID" type="xsd:string" vs:category="Misc" vs:nonfilterable="true" vs:renametype="classmember" />
	<xsd:attribute name="SkinID" type="xsd:string" vs:nonbrowseable="true" vs:category="Behavior" vs:nonfilterable="true" default="" />
	<xsd:attribute name="Visible" type="xsd:boolean" vs:category="Behavior" default="True" />
</xsd:attributeGroup>

<xsd:attributeGroup name="System.Web.UI.ControlAttributeGroupDef">
	<!-- Attributes -->
	<xsd:attribute name="ClientIDMode" type="System.Web.UI.ClientIDModeDef" vs:category="Behavior" default="Inherit" />
	<xsd:attribute name="EnableTheming" type="xsd:boolean" vs:nonbrowseable="true" vs:category="Behavior" default="True" />
	<xsd:attribute name="EnableViewState" type="xsd:boolean" vs:category="Behavior" default="True" />
	<xsd:attribute name="ID" type="xsd:string" vs:category="Misc" vs:nonfilterable="true" vs:renametype="classmember" />
	<xsd:attribute name="SkinID" type="xsd:string" vs:nonbrowseable="true" vs:category="Behavior" vs:nonfilterable="true" default="" />
	<xsd:attribute name="Visible" type="xsd:boolean" vs:category="Behavior" default="True" />
	<!-- Events -->
	<xsd:attribute name="OnDataBinding" vs:omtype="event" vs:nonfilterable="true" vs:category="Data" />
	<xsd:attribute name="OnDisposed" vs:omtype="event" vs:nonfilterable="true" vs:category="Misc" />
	<xsd:attribute name="OnInit" vs:omtype="event" vs:nonfilterable="true" vs:category="Misc" />
	<xsd:attribute name="OnLoad" vs:omtype="event" vs:nonfilterable="true" vs:category="Misc" />
	<xsd:attribute name="OnPreRender" vs:omtype="event" vs:nonfilterable="true" vs:category="Misc" />
	<xsd:attribute name="OnUnload" vs:omtype="event" vs:nonfilterable="true" vs:category="Misc" />
</xsd:attributeGroup>

<xsd:attributeGroup name="System.Web.UI.WebControls.FontInfoAttributeGroupDef_Font">
	<!-- Attributes -->
	<xsd:attribute name="Font-Bold" type="xsd:boolean" vs:category="Appearance" default="False" />
	<xsd:attribute name="Font-Italic" type="xsd:boolean" vs:category="Appearance" default="False" />
	<xsd:attribute name="Font-Names" type="xsd:string" vs:category="Appearance" />
	<xsd:attribute name="Font-Overline" type="xsd:boolean" vs:category="Appearance" default="False" />
	<xsd:attribute name="Font-Size" type="System.Web.UI.WebControls.FontUnitConverterDef" vs:category="Appearance" default="" />
	<xsd:attribute name="Font-Strikeout" type="xsd:boolean" vs:category="Appearance" default="False" />
	<xsd:attribute name="Font-Underline" type="xsd:boolean" vs:category="Appearance" default="False" />
</xsd:attributeGroup>

<xsd:attributeGroup name="System.Web.UI.WebControls.LiteralAttributeGroupDef">
	<xsd:attributeGroup ref="System.Web.UI.ControlAttributeGroupDef" />
	<!-- Attributes -->
	<xsd:attribute name="Mode" type="System.Web.UI.WebControls.LiteralModeDef" vs:category="Behavior" default="Transform" />
	<xsd:attribute name="Text" type="xsd:string" vs:category="Appearance" default="" />
</xsd:attributeGroup>

<xsd:attributeGroup name="System.Web.UI.WebControls.WebControlAttributeGroupDef">
	<xsd:attributeGroup ref="System.Web.UI.WebControls.FontInfoAttributeGroupDef_Font" />
	<!-- Attributes -->
	<xsd:attribute name="AccessKey" type="xsd:string" vs:category="Accessibility" default="" />
	<xsd:attribute name="BackColor" type="System.Web.UI.WebControls.WebColorConverterDef" vs:builder="color" vs:category="Appearance" default="" />
	<xsd:attribute name="BorderColor" type="System.Web.UI.WebControls.WebColorConverterDef" vs:builder="color" vs:category="Appearance" default="" />
	<xsd:attribute name="BorderStyle" type="System.Web.UI.WebControls.BorderStyleDef" vs:category="Appearance" default="NotSet" />
	<xsd:attribute name="BorderWidth" type="xsd:ui4" vs:category="Appearance" default="" />
	<xsd:attribute name="ClientIDMode" type="System.Web.UI.ClientIDModeDef" vs:category="Behavior" default="Inherit" />
	<xsd:attribute name="CssClass" type="xsd:string" vs:category="Appearance" default="" />
	<xsd:attribute name="Enabled" type="xsd:boolean" vs:category="Behavior" default="True" />
	<xsd:attribute name="EnableTheming" type="xsd:boolean" vs:category="Behavior" default="True" vs:disallowedonmobilepages="true" />
	<xsd:attribute name="EnableViewState" type="xsd:boolean" vs:category="Behavior" default="True" />
	<xsd:attribute name="ForeColor" type="System.Web.UI.WebControls.WebColorConverterDef" vs:builder="color" vs:category="Appearance" default="" />
	<xsd:attribute name="Height" type="xsd:ui4" vs:category="Layout" default="" />
	<xsd:attribute name="ID" type="xsd:string" vs:category="Misc" vs:nonfilterable="true" vs:renametype="classmember" />
	<xsd:attribute name="SkinID" type="xsd:string" vs:category="Behavior" vs:nonfilterable="true" default="" vs:disallowedonmobilepages="true" />
	<xsd:attribute name="Style" type="xsd:string" vs:nonbrowseable="true" vs:category="Misc" />
	<xsd:attribute name="TabIndex" type="xsd:integer" vs:category="Accessibility" default="0" />
	<xsd:attribute name="ToolTip" type="xsd:string" vs:category="Behavior" default="" />
	<xsd:attribute name="Visible" type="xsd:boolean" vs:category="Behavior" default="True" />
	<xsd:attribute name="Width" type="xsd:ui4" vs:category="Layout" default="" />
	<!-- Events -->
	<xsd:attribute name="OnDataBinding" vs:omtype="event" vs:nonfilterable="true" vs:category="Data" />
	<xsd:attribute name="OnDisposed" vs:omtype="event" vs:nonfilterable="true" vs:category="Misc" />
	<xsd:attribute name="OnInit" vs:omtype="event" vs:nonfilterable="true" vs:category="Misc" />
	<xsd:attribute name="OnLoad" vs:omtype="event" vs:nonfilterable="true" vs:category="Misc" />
	<xsd:attribute name="OnPreRender" vs:omtype="event" vs:nonfilterable="true" vs:category="Misc" />
	<xsd:attribute name="OnUnload" vs:omtype="event" vs:nonfilterable="true" vs:category="Misc" />
</xsd:attributeGroup>

<!-- TOP LEVEL ATTRIBUTES -->

<xsd:simpleType name="Microsoft.VisualStudio.Web.WebControlSchemaGenerator.runatDef">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="server" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="System.Web.UI.ClientIDModeDef">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Inherit" />
		<xsd:enumeration value="AutoID" />
		<xsd:enumeration value="Predictable" />
		<xsd:enumeration value="Static" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="System.Web.UI.WebControls.BorderStyleDef">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="NotSet" />
		<xsd:enumeration value="None" />
		<xsd:enumeration value="Dotted" />
		<xsd:enumeration value="Dashed" />
		<xsd:enumeration value="Solid" />
		<xsd:enumeration value="Double" />
		<xsd:enumeration value="Groove" />
		<xsd:enumeration value="Ridge" />
		<xsd:enumeration value="Inset" />
		<xsd:enumeration value="Outset" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="System.Web.UI.WebControls.LiteralModeDef">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Transform" />
		<xsd:enumeration value="PassThrough" />
		<xsd:enumeration value="Encode" />
	</xsd:restriction>
</xsd:simpleType>


</xsd:schema>
